@import './src/assets/variables';
@import 'Size/Size.module';

.container {
  width: 100%;
  max-width: 205px;
  margin: 0 0 0 48px;
}

.cardInner {
  position: relative;
}

.corner {
  position: absolute;
  z-index: 100;
  top: 46px;
  left: 14px;
  width: 63px;
  height: 4px;
  background-color: $defaultBorderColor;
  transform: rotate(-48deg);
  transform-origin: 0 100%;
}

.cardBody {
  position: relative;
  cursor: pointer;
  width: 320px;
  height: 484px;
  margin: 70px 10px 0;
  background: $cardBgColor url("./catBg.png") no-repeat;
  background-position: -5px 100%;
  border-radius: 10px;
  border: $borderSize solid $defaultBorderColor;
  clip-path: polygon(44px 0, 100% 0, 100% 100%, 0 100%, 0 48.5px);


}

.cardBody:hover {
  border-color: $defaultHoverBorderColor;

  & ~ .corner {
    background-color: $defaultHoverBorderColor;
  }

  .sizeWrapper {
    background-color: $defaultHoverBorderColor;
  }
}


.active {
  border-color: $selectedColor;

  & ~ .corner {
    background-color: $selectedColor;
  }

  .sizeWrapper {
    background-color: $selectedColor;
  }
}

.active:hover {
  border-color: $selectedHoverColor;

  & ~ .corner {
    background-color: $selectedHoverColor;
  }

  .sizeWrapper {
    background-color: $selectedHoverColor;
  }
}

.disabled {
  border-color: $disabledColor;
  cursor: not-allowed;

  & ~ .corner {
    background-color: $disabledColor;
  }

  .sizeWrapper {
    background-color: $disabledColor;
  }
}

.disabled:hover {
  border-color: $disabledColor;

  & ~ .corner {
    background-color: $disabledColor;
  }

  .sizeWrapper {
    background-color: $disabledColor;
  }
}

.disabledCover {
  position: absolute;
  height: 100%;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.7);
}


