@import './src/assets/variables';
@import './Size/Size.module.scss';

.container {
  width: 100%;
  max-width: 205px;
  margin: 0 0 0 48px;
}

.cardBody {
  position: relative;
  cursor: pointer;
  width: 320px;
  height: 439px;
  margin-top: 70px;
  background: $cardBgColor url("./catBg.png") no-repeat;
  background-position: -5px 170px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: $borderSize solid $defaultBorderColor;
  border-right: $borderSize solid $defaultBorderColor;
  border-bottom: $borderSize solid $defaultBorderColor;

  &:after {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    transform: rotate(-44.5deg) translate(8px, -24.8px);
    width: 64px;
    border-top: $borderSize solid $defaultBorderColor;
  }

  &:hover {
    border-color: $defaultHoverBorderColor;

    &:after {
      border-color: $defaultHoverBorderColor;
    }

    .cardTop {
      border-color: $defaultHoverBorderColor;
    }

    .sizeWrapper {
      background-color: $defaultHoverBorderColor;
    }
  }
}

.active {
  border-color: $selectedColor;

  &:after {
    border-color: $selectedColor;
  }

  .cardTop {
    border-color: $selectedColor;
  }

  .sizeWrapper {
    background-color: $selectedColor;
  }
}

.active:hover {
  border-color: $selectedHoverColor;

  &:after {
    border-color: $selectedHoverColor;
  }
  .cardTop {
    border-color: $selectedHoverColor;
  }
  .sizeWrapper {
    background-color: $selectedHoverColor;
  }
}

.disabled {
  border-color: $disabledColor;
  cursor: not-allowed;

  &:after {
    border-color: $disabledColor;
  }
  .cardTop {
    border-color: $disabledColor;
  }

  .sizeWrapper {
    background-color: $disabledColor;
  }
}

.disabled:hover {
  border-color: $disabledColor;

  &:after {
    border-color: $disabledColor;
  }
  .cardTop {
    border-color: $disabledColor;
  }
  .sizeWrapper {
    background-color: $disabledColor;
  }
}

.disabledCover {
  position: absolute;
  height: 100%;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.7);
}

.disabledCoverTop {
  border-top-right-radius: 6px;
}

.disabledCoverBody {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}


.sizeWrapper {
  position: absolute;
  bottom: 12px;
  right: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  line-height: 1;
  border-radius: 50%;
  background-color: $defaultBorderColor;

  .amount {
    color: #fff;
    font-size: 42px;
  }

  .units {
    font-size: 21px;
    color: #fff;
  }
}

.cardTop {
  padding-left: 4px;
  padding-right: 4px;
  position: absolute;
  bottom: 100%;
  right: -4px;
  left: -3px;
  height: 45px;
  background-color: $cardBgColor;
  border-top: $borderSize solid $defaultBorderColor;
  border-right: $borderSize solid $defaultBorderColor;
  border-top-right-radius: 10px;
  clip-path: polygon(45px 0, 100% 0, 100% 100%, 0% 100%);

  &_title {
    margin-top: 20px;
    font-weight: 400;
    font-size: 16px;
    color: $grayText;
  }
}

.catDontLike {
  color: $selectedHoverColor;
  font-size: 16px;
}


