@import '../../../assets/variables';

.wrapper {
  margin-top: 15px;
  margin-bottom: 5px;
}

.defaultText {
  font-weight: 400;
  font-size: 16px;
  color: $grayText;
}

.catDontLike {
  color: $selectedHoverColor;
  font-size: 16px;
}